/* Global */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
#wrapper {
  background: radial-gradient(rgb(139, 195, 245), #1294b8);
  height: 100vh;
}
header {
  height: 20vh;
}
nav {
  display: flex;
  margin: auto;
  justify-content: center;
  height: fit-content;
}

h1 {
  font-size: 1.8em;
  font-weight: 800;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table {
  display: table-header-group;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(139, 195, 245);
  margin: auto;
}
.total {
  text-align: right;
}
input[type="text"],
input[type="number"] {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 999px;
  border: transparent;
  padding: 4px;
}

td,
th {
  width: 100px;
}

input[type="number"] {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 999px;
  border: transparent;
  text-align: center;
}

form input[type="submit"] {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 999px;
  border: transparent;
  padding: 10px;
}

